$main-bg: rgb(13, 147, 236);
$main-color: rgb(255, 255, 255);

body {
  background-color: $main-bg;
  color: $main-color;
}

h1 {
  font-size: 60px;
}

form{
  background-color: aliceblue;
  max-width: 300px;
  padding: 20px;
}
form input{
  margin-bottom: 10px;
  padding: 5px;
}